<section class="footer">
    <div class="container-fluid pt-3">
        <div class="row text-center">
            <div class="col-md-6 col-sm-6">
                <h4>User-Management-System</h4>
                <h6 class="p-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Laborum nostrum veniam incidunt veritatis doloremque facilis nulla ipsum ipsam aspernatur
                     dolore consequatur excepturi quis odit asperiores id illum, illo ex reprehenderit.</h6>
            </div>

            <div class="col-md-6 col-sm-6">
                <h4>Contact Us</h4>
                <h6 class="p-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    </h6>
            </div>

        </div>
    </div>
</section>