<section class="container-fluid">
    <div class="row">
        <div class="col-md-2 col-sm-1">
            <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
    <div class="position-sticky">
      <div class="list-group list-group-flush mx-3 mt-4">
        
        <a [routerLink]="['users']" class="list-group-item list-group-item-action py-2"
          ><i class="fas fa-users fa-fw me-3"></i><span>Users</span></a
        >
        <a href="#" class="list-group-item list-group-item-action py-2"
          ><i class="fa-solid fa-address-book me-3"></i><span>Search</span></a
        >
        <a href="#" class="list-group-item list-group-item-action py-2"
          ><i class="fa-solid fa-user me-3"></i><span>Profile</span></a
        >
      </div>
    </div>
  </nav>
        </div>
        <div class="col-md-10 col-sm-11">
            <div class="background">
                <div class="row">
                    <div class="col-md-6 col-sm-6 d-flex justify-content-center my-5">
                        <div class="card m-2 cb1 text-center">
                            <div class="card-body">
                                <span class="card-number fw-bold">01</span>
                            
                            <h2 class="card-title mb-4">User Login</h2>
                            <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam doloribus nihil magni exercitationem numquam fuga cupiditate odio dolor natus, similique in minima id nam nesciunt cumque illum, distinctio eaque explicabo?</p>
                            <a href="#" class="btn btn-outline-light">Sign In</a>
                            </div>
                            
                        </div>
                    </div>
    
                    <div class="col-md-6 col-sm-6 d-flex justify-content-center my-5">
                        <div class="card m-2 cb2 text-center">
                            <div class="card-body">
                                <span class="card-number fw-bold">02</span>
                            
                            <h2 class="card-title mb-4">User Register</h2>
                            <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam doloribus nihil magni exercitationem numquam fuga cupiditate odio dolor natus, similique in minima id nam nesciunt cumque illum, distinctio eaque explicabo?</p>
                            <a href="#" class="btn btn-outline-light">Sign Up</a>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
